<div>
    <h2>Welcome to app X</h2>
    <p>Please create a profile</p>
</div>

<form action="/profile" method="post" enctype="multipart/form-data">
    <label for="avatar">Select your avatar</label>
    <input type="file" name="avatar" />

    <label for="name">Your name</label>
    <input type="text">

    <div>
        <label for="rock">Rock</label>
        <input type="checkbox" name="rock" id="rock">
    </div>
</form>
