<div>
    <h2>Welcome to app X</h2>
    <p>Please create a profile</p>
</div>

<form action="/profile" method="post" enctype="multipart/form-data">
    <label for="avatar">Select your avatar</label>
    <input type="file" name="avatar" />

    <label for="name">Your name</label>
    <input type="text" name="name">

    <div>
        <label for="rock">Rock</label>
        <input type="checkbox" name="rock" id="rock">
    </div>

    <div>
        <label for="r&b">R&B</label>
        <input type="checkbox" name="r&b" id="r&b">
    </div>

    <div>
        <label for="pop">Pop</label>
        <input type="checkbox" name="pop" id="pop">
    </div>

    <div>
        <label for="hiphop">HipHop</label>
        <input type="checkbox" name="hiphop" id="hiphop">
    </div>

    <button type="submit">Submit</button>
</form>
